<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :production_time %><br>
    <%= f.number_field :production_time %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
  </div>
  <div class="field">
      <%= f.text_area(:instruction, size: '50x10') %>
  </div>

  <h4>Want other users <b>to not</b> <%= " see this? (if checked, "%> <b>only you</b> <%= " can see this recipe)" %> <br /></h4>

  <div class="field">
    <%= f.check_box :private %> <br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
