<table class="table table-hover">
  <thead>
  <tr>
       <th class="col-sm-2"><%= link_to 'Name', recipes_path(order:"name") %></th>
       <th class="col-sm-2"><%= link_to 'Time', recipes_path(order:"year") %></th>
       <th class="col-sm-2">Average rating</th>
  </tr>
  </thead>

  <tbody>
  <% recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.productionTimeToString(recipe.production_time) %></td>
        <td><% if recipe.ratings.count != 0 %> <%= round(recipe.average_rating) %> <% else %> <%= "----" %> <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>