<h2> Your private recipes (<%= @private_users_recipes.count %>) </h2>

<%= render 'list', recipes: @private_users_recipes %>

<h2> Your public recipes (<%= @public_users_recipes.count %>) </h2>

<%= render 'list', recipes: @public_users_recipes %>

<h2> All public recipes (<%= @other_public_recipes.count %>) </h2>

<%= render 'list', recipes: @other_public_recipes %>


<br>

<%= link_to 'New Recipe', new_recipe_path %>