<h1>Recipes</h1>

<h2> Public recipes (<%= @public_recipes.count %>) </h2>

<%= render 'list', recipes: @public_recipes %>

<% if not current_user.nil? %>
<h2> Private recipes (<%= @private_recipes.count %>) </h2>

<%= render 'list', recipes: @private_recipes %>

<% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
