<%= javascript_include_tag "recipes.js" %>

<%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :production_time, 'Production time (min)' %><br>
      <%= f.number_field :production_time %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
    </div>
    <h4>Recipe's description:</h4>
    <div class="field">
      <%= f.text_area(:instruction, size: '50x10') %>
    </div>

    <h4>Want other users to see this recipe?</h4>

    <input onclick="changePrivacy();" type="button" value="Private" id="privacy">

    <%= f.hidden_field :private, :value => true %>

    <br/>
    <br/>


    <% f.fields_for :ingredients do |ing| %>


    <% end %>



    <p>Ingredients:</p>
    <ul id = "button-list">
      <% @selectedIngredients.each do |ingredient| %>
          <li>
            <button class = "buttons" id = "<%= ingredient.id%>"  name = "ltrContainer"   ><%= ingredient.name %></button>
          </li>
      <% end %>
    </ul>


    <input id="ingredients" type="hidden" value=[] >



    <p>Add ingredients:</p>
    <select id=selectIngredient onchange='addIngredient();'>

      <% @ingredients.each do |ingredient| %>
          <option><%= ingredient.name %></option>
      <% end %>

    </select>

    <br/>
    <br/>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<p><input type="text" id="ingredient" size="20"></p>

<script type="text/javascript">

    function addIngredient() {
        var ingredientList = document.getElementById("selectIngredient");
        // var currentList = document.getElementById("recipe_ingredients").value;
        //currentList.push(ingredientList.options[ingredientList.selectedIndex]).text;


        //    document.getElementById("recipe_ingredients").value.push(ingredientList.options[ingredientList.selectedIndex]).text;

        document.getElementById("ingredient").value = ingredientList.options[ingredientList.selectedIndex].text;

       // http://rbudiharso.wordpress.com/2010/07/07/dynamically-add-and-remove-input-field-in-rails-without-javascript/
       // remote true
      // https://github.com/jamox/mooc-master-race/blob/master/app/views/interviews/_interview_details.html.haml#L43
      // https://github.com/jamox/mooc-master-race/blob/master/app/controllers/interviews_controller.rb#L48
       // https://github.com/jamox/mooc-master-race/blob/master/app/assets/javascripts/interviews.js#L10
    }



    function changePrivacy() {
        var value = document.getElementById("privacy").value;
        if (value == "Private") {
            document.getElementById("privacy").value="Public";
            document.getElementById("recipe_private").value=false;
        }
        else {
            document.getElementById("privacy").value="Private";
            document.getElementById("recipe_private").value=true;
        }
    }
</script>